body, div, canvas {
    margin: 0;
    padding: 0;
}

#game {
    position: absolute;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 600px;
}

#water {
    position: absolute;
}

#ground {
    position: absolute;
    border: 1px solid #000;
    box-shadow: 10px 10px 5px #888888;
}

#trees {
    position: absolute;
}

#waterHolder {
    display: inline-block;
    position: relative;
}

.canvasDiv {
    position: absolute;
    display: inline-block;
}