 body, html { 
	margin: 0;
	padding: 0;
	background-color: black;
}

#main {
	margin : auto;
}

#game {
	width: 800px;
	margin: auto;
}

#description {
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;
}

#water {
	position: relative;
}

#ground {
	position: relative;
}

#checkTime {
	position: absolute;
	left: 300px;
	top: 1px;
	padding: 0 30px;
	text-align: center;
	font-size: 2em;
	color: white;
	background-color: #000;
	border-radius: 0 0 5px 5px;
}

#counterMovement {
	position: absolute;
	right: 300px;
	top: 1px;
	padding: 0 30px;
	text-align: center;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 2em;
	color: white;
	background-color: #000;
	border-radius: 0 0 5px 5px;
}

#instructions {
	position: absolute;
	right: 500px;
	top: 1px;
	padding: 0 30px;
	text-align: center;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 2em;
	color: white;
	background-color: #000;
	border-radius: 0 0 5px 5px;
	visibility: hidden;
}

#restart {
	position: absolute;
	left: 300px;
	top: 562px;
	padding: 0 30px;
	text-align: center;
	font-size: 2em;
	color: white;
	background-color: #000;
	border-radius: 5px 5px 0 0;
	border: none;
	visibility: hidden;
}

#paper {
	position: absolute;
	display: inline-block;
	top: -20px;
	left: 300px;
	visibility: hidden;
}
